@import "../../App.scss";

.nav {
  @include breakpoint(md) {
    display: inline-flex;
  }
  display: grid;
  align-items: center;
  // border: 1px solid black;
  width: 100vw;
  left: 0;
  top: 0;
  padding: 10px;
  padding-left: 18px;
  position: fixed;
  opacity: 0.9;
  background-color: #004e00;

  @include breakpoint(md) {
    padding: 5px;
  }
}

.links {
  font-size: 1.5rem;
  text-decoration: none;
  padding-top: 15px;
  padding-right: 15px;
  color: white;
  display: none;
  &:hover {
    color: black;
  }
  @include breakpoint(md) {
    display: inline-flex;
  }
}

.links-mobile {
  font-size: 1.5rem;
  text-decoration: none;
  padding-top: 15px;
  padding-right: 15px;
  color: white;
  &:hover {
    color: black;
  }
}

.title {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding-right: 3rem;
  padding-top: 10px;
  @include breakpoint(md) {
    padding-top: 0;
    font-size: 3rem;
  }
  &:hover {
    color: black;
  }
}

.hamburger {
  display: block;
  position: absolute;
  right: 25px;
  top: 5px;
  color: white;
  @include breakpoint(md) {
    top: 15px;
    display: none;
  }
}
