@import "../../App.scss";

.songs-list {
  margin-top: 1rem;
}

.songs-title {
  @include breakpoint(md) {
    font-size: 2rem;
    font-weight: 700;
  }
  font-size: 1.5rem;
  font-weight: 600;
}

.songs-counts {
  @include breakpoint(md) {
    font-size: 2rem;
    font-weight: 700;
  }
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
}
