@import "../../App.scss";

.meetup {
  @include breakpoint(md) {
    display: inline-flex;
  }
  padding: 5rem;
  width: 65%;
  background-color: #fff;
  opacity: 0.8;
  margin-bottom: 1rem;
}
.image {
  width: 60vw;
  @include breakpoint(md) {
    width: 20vw;
  }
  pointer-events: none;
}

.content-box {
  @include breakpoint(md) {
    width: 50%;
  }
}

.info {
  padding: 2rem;
}
