@import "../../App.scss";

.meetup {
  @include breakpoint(md) {
    display: inline-flex;
    width: 55vw;
    align-items: center;
    padding: 2rem 5rem;
  }
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  opacity: 0.8;

  &:last-child {
    margin-bottom: 0;
  }
}
.image {
  width: 60vw !important;
  @include breakpoint(md) {
    margin-right: 1rem;
    width: 20vw !important;
  }
  pointer-events: none;
}

.content-box {
  @include breakpoint(md) {
    align-items: center;
    justify-content: center;
  }
}

.info {
  padding: 2rem;
}
