@import "../../App.scss";

.content {
  text-align: center;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  padding-bottom: 7rem;
  overflow: hidden;
  @include breakpoint(md) {
    padding-bottom: 5px;
<<<<<<< HEAD
=======
    margin-top: 2rem;
>>>>>>> a957e64 (changes)
  }
}

.middle {
  padding: 1rem 0px;
}

.leftside {
  width: 100%;
}

.rightside {
  width: 100%;
}
