@import "../../App.scss";

.footer {
  @include breakpoint(md) {
    display: inline-flex;
  }

  width: 100vw;
  background-color: black;
  justify-content: center;
  bottom: 15px;
  right: 0;
  align-items: center;
  height: 2rem;
}

.link {
  color: white;
  padding: 0 2%;
}
