@import "../../App.scss";

.footer {
  @include breakpoint(md) {
    display: inline-flex;
  }

  width: 100vw;
  background-color: black;
  justify-content: center;
  bottom: 15px;
  right: 0;
  align-items: center;
  height: 2rem;
}

.link {
  color: white;
  padding: 0 2%;
}

.contact {
  color: red;
  border: 1px solid red;
  border-radius: 6px;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 1rem;
  @include breakpoint(md) {
    margin-bottom: 0;
  }
  &:hover {
    background-color: red;
    color: black;
  }
}
