@import "../../App.scss";

.game {
  @include breakpoint(md) {
    width: 55vw;
    padding: 2rem 5rem;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  opacity: 0.6;
  height: 25rem;
  margin: 1rem;
}

.game-link {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 20px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 6px;
  margin-top: 3rem;
  cursor: pointer;
  &:hover {
    color: black;
    border-radius: 6px;
    border: 1px solid red;
  }
}

.game-title {
  font-size: 3rem;
}

.game-by {
  margin-top: -2rem;
  margin-bottom: 2rem;
}
