@import "../../App.scss";

.picture {
  height: 75vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  pointer-events: none;

  @include breakpoint(md) {
    height: 91vh;
    padding: 0;
  }
}
