.setlist {
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
  opacity: 0.8;

  &:last-child {
    margin-bottom: 0;
  }
}

.highlight {
  color: red !important;
}

.city-state {
  display: inline-flex;
}

.state {
  margin-left: 5px;
}
