@import "../../App.scss";

.search {
  position: unset;
  right: 80px;
  top: 0;
  width: 83%;
  padding: 6px 6px;
  align-items: center;
  @include breakpoint(md) {
    position: absolute;
    top: unset;
    padding: 0;
    right: 17px;
    width: unset;
  }
}

.search-input {
  padding: 0.75rem;
  border-radius: 5px;
  width: 60vw;
  font-size: 16px !important;
  @include breakpoint(md) {
    width: 20vw;
  }
}
